.hamburger {
  cursor: pointer;
}

.hamburger-animated {
  position: relative;
  padding: 0;

  .material-icons {
    color: var(--color-text-primary);
    font-size: 3rem;
  }

  .icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
  }

  .icon-open, .icon-close {
    transition: 0.3s transform ease-out;
  }

  &.open {
    .icon-open, .icon-close {
      transition: 0.3s transform ease-in;
    }

    .icon-close {
      transform: translate(-50%,-50%) scale(1);
    }
    .icon-open {
      transform: scale(0);
    }
  }
}